/* Overall Style Sheet */

.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.app-content{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Movie and Show Modal Stylesheet */

.full-movie-information, .full-show-information{
  display: flex;
  flex-direction: row;
}

.movie-header, .show-header {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 10px;
}

.movie-header button{
  border: 2px solid rgba(242, 155, 48);
  background-color: rgba(242, 155, 48);
  font-family: inherit;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  font-size: 13px;
  height: 30px;
  width: 80%;
  margin: 5px auto;
  color: rgba(245, 245, 245, 1);
}

.full-show-information button{
  border: 2px solid rgba(242, 155, 48);
  background-color: rgba(242, 155, 48);
  font-family: inherit;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  font-size: 13px;
  height: 30px;
  width: 80%;
  margin: 5px auto;
  color: rgba(245, 245, 245, 1);
}



.movie-description, .show-description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-grow: 1;
  margin: auto 10px;
  text-align: left;

}

.movie-description ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}



/* Side Panel Stylesheet  */
.input {
  border-radius: 10px;
  outline: 2px solid #FEBF00;
  border: 0;
  font-family: inherit;
  font-size: 12px;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: background-color 0.25s, outline-offset 0.25s;
  width: 95%;
  height: 10px;
  margin-bottom: 10px;
}

.input:focus {
  outline-offset: 5px;
  background-color: #fff;
}

.input:hover {
  background-color: #d3d3d3;
}

.list-section {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
}

.list-section h4 {
  font-size: 18px;
  margin-bottom: 5px;
  padding-left: 20px; /* Ensure heading is also aligned left */
  font-weight: 900;
}

.list-section ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  width: 100%;
}

.list-section li {
  width: 100%;
  text-align: left; /* Align text to the left */
  padding: 10px 20px; /* Add padding for better appearance */
  padding-left: 20px; /* Move the list items more to the left */
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.list-section li:hover {
  color: rgba(245, 245, 245, 1);
  font-weight: 900;
  background-color: rgba(8, 9, 13, 1);
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.search-console {
  display: block;
}


.social-console {
  display: flex;
  gap: 10px;
  align-items: center;
}

.social-console img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.social-console img:hover {
  transform: scale(1.2);
}



/* Carousel Stylesheet  */

.control-arrow {
  height: 50vh;
  background-color: rgba(17, 24, 38, 0.5);
}

.main-container {
  position: relative;
  padding: 5px;
  height: 25%; /* Adjust height as needed */
  width: 70%; /* Adjust width as needed */
  margin: 20px auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100%;
  padding: 15px;
  background-color: rgba(8, 9, 13, 0.5);
  border-radius: 20px;
  transition: transform 0.4s ease-in-out;
}

.carousel-slide:hover {
  transform: scale(1.02); /* Slightly enlarge on hover */
}

.slider-wrapper {
  height: 50vh;
}

.movie-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100%;
  overflow: hidden; /* Hide overflowed content */
  transition: transform 0.4s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.02); /* Slightly enlarge on hover */
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure the image covers the container */
  border-radius: 20%;
  padding: 10px;
  transition: transform 0.4s ease-in-out;
}

.movie-card img:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.movie-info {
  margin-right: 50px;
  width: 50%;
}

.movie-info button {
  border: 2px solid rgba(242, 155, 48);
  background-color: rgba(242, 155, 48);
  font-family: inherit;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  font-size: 13px;
  height: 30px;
  width: 20%;
  margin: 5px 0px 10px 10px;
  color: rgba(245, 245, 245, 1);
}

.movie-info button:hover {
  background-color: rgba(245, 245, 245, 1);
  color: rgba(242, 155, 48, 1);
  border-color: rgba(245, 245, 245, 1);
}


/* Instruction Section Stylesheet  */
.instruction-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px; 
  width: 80%;
  margin: 10px auto;
}

.instruction-container > div {
  background-color: rgba(19, 21, 62, 0.55);
  height: 100px;
  border-radius: 20px;
  transition: transform 0.4s ease-in-out;
}

.instruction-container > div:hover {
  transform: translateY(-5px); /* Slightly lift on hover */
}

.instruction-container h2{
  align-items: center;
  justify-content: center;
}

.instruction-container p {
  width: 100%;
  margin: 10px auto;
  text-align: left;
}


/* Main Card Content Stylesheet */
.anime-container, .tv-container, .actor-container {
  margin-bottom: 40px;
}

.anime-list, .tv-list, .actor-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.anime-card, .tv-card, .actor-card {
  position: relative;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
}

.anime-card img, .tv-card img, .actor-card img {
  width: 100%;
  height: auto;
}

.anime-info, .tv-info, .actor-info {
  padding: 10px;
}

.anime-hover-info, .tv-hover-info, .actor-hover-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 10px;
  box-sizing: border-box;
}

.anime-hover-info, .tv-hover-info, .actor-hover-info p{
  padding: 25px 5px;
}



.anime-card:hover, .tv-card:hover, .actor-card:hover {
  transform: scale(1.05);
}

.anime-card:hover .anime-hover-info, .tv-card:hover .tv-hover-info, .actor-card:hover .actor-hover-info {
  opacity: 1;
}

.rank-title{
  font-style: italic;
  font-size: 30px;
  color: #ff6347;
}


/* Footer Stylesheet */

.footer-section {
  background-color: #333;
  color: #fff;
  height: 125px;
  width: 108%;
  margin: 0 auto;
  padding: 20px 0;
  border-radius: 10px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  width: 100%;
  max-width: 250px;

}

.footer-column h4 {
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
  border-bottom: 2px solid #ff6347;
  padding-bottom: 5px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-column ul li a:hover {
  color: #ff6347;
}

.footer-social-links {
  display: flex;
  gap: 10px;
}

.footer-social-links a img {
  width: 24px;
  height: 24px;
  filter: invert(1);
}

.footer-social-links a:hover img {
  filter: invert(0.5);
}



/* Modal Stylesheets */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it overlays other content */
}

.modal {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  overflow-y: auto;
  max-height: 80vh; /* Ensure it doesn't go off the screen */
}

.results-list img{
  width: 20%;
  margin-right: 10px;
}


.close-button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  float: right;
  cursor: pointer;
}
.results-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.result-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.result-list-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.result-image {

  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.result-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.result-title {
  font-size: 1em;
  margin-bottom: 10px;
}

.add-to-list-button {
  align-self: flex-start;
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.no-image {
  width: 20%;
  height: 150px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

/* List Modal Stylesheet */

.list-item{
  display: flex;
  flex-direction: row;
}


.list-item img{
  width: 15%;
  margin-right: 20px;
  margin-bottom: 10px;
}

.list-item li{
  display: flex;
  flex-direction: column;
  font-style: italic;
  font-weight: 600;
  list-style-type: none;
}

.list-item button{
  border: 2px solid rgba(242, 155, 48);
  background-color: rgba(242, 155, 48);
  font-family: inherit;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  font-size: 13px;
  height: 30px;
  width: 100px;
  margin: 5px auto;
  margin-inline-end: 10px;
  color: rgba(245, 245, 245, 1);
}
.list-item button:hover{

}