.App {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  border-radius: 10px;
  outline: 2px solid #FEBF00;
  border: 0;
  font-family: inherit;
  font-size: 12px;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: background-color 0.25s, outline-offset 0.25s;
  width: 90%;
  height: 10px;
  margin-bottom: 10px;
}

.input:focus {
  outline-offset: 5px;
  background-color: #fff;
}

.input:hover {
  background-color: #d3d3d3;
}

.list-section {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
}

.list-section h4 {
  font-size: 18px;
  margin-bottom: 5px;
  padding-left: 20px; /* Ensure heading is also aligned left */
  font-weight: 900;
}

.list-section ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  width: 100%;
}

.list-section li {
  width: 100%;
  text-align: left; /* Align text to the left */
  padding: 10px 20px; /* Add padding for better appearance */
  padding-left: 20px; /* Move the list items more to the left */
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.list-section li:hover {
  color: rgba(245, 245, 245, 1);
  font-weight: 900;
  background-color: rgba(8, 9, 13, 1);
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.search-console {
  display: block;
}

/* Update these styles in Carousel.css */

.control-arrow {
  height: 50vh;
  background-color: rgba(17, 24, 38, 0.5);
}

.carousel-container {
  position: relative;
  padding: 5px;
  height: 25%; /* Adjust height as needed */
  width: 70%; /* Adjust width as needed */
  margin: 20px auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100%;
  padding: 15px;
  background-color: rgba(8, 9, 13, 0.5);
  border-radius: 20px;
  transition: transform 0.4s ease-in-out;
}

.carousel-slide:hover {
  transform: scale(1.02); /* Slightly enlarge on hover */
}

.slider-wrapper {
  height: 50vh;
}

.movie-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100%;
  overflow: hidden; /* Hide overflowed content */
  transition: transform 0.4s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.02); /* Slightly enlarge on hover */
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure the image covers the container */
  border-radius: 20%;
  padding: 10px;
  transition: transform 0.4s ease-in-out;
}

.movie-card img:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.movie-info {
  margin-right: 50px;
  width: 50%;
}

.movie-info button {
  border: 2px solid rgba(242, 155, 48);
  background-color: rgba(242, 155, 48);
  font-family: inherit;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  font-size: 13px;
  height: 30px;
  width: 20%;
  margin: 5px 0px 10px 10px;
  color: rgba(245, 245, 245, 1);
}

.movie-info button:hover {
  background-color: rgba(245, 245, 245, 1);
  color: rgba(242, 155, 48, 1);
  border-color: rgba(245, 245, 245, 1);
}

.instruction-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px; 
}

.instruction-container > div {
  background-color: rgba(19, 21, 62, 0.55);
  height: 100px;
  border-radius: 20px;
  transition: transform 0.4s ease-in-out;
}

.instruction-container > div:hover {
  transform: translateY(-5px); /* Slightly lift on hover */
}

.instruction-container h2 {
  width: 50%;
  margin: 10px auto;
}

.instruction-container p {
  width: 80%;
  margin: 10px auto;
}
