body {
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  background-color: rgba(8, 9, 13, .95);
  color: rgba(245, 245, 245, 1);
}

header {
  background-color: rgba(57, 66, 86, 1);
  height: auto;
  border-radius: 10px;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 0px 10px 0px 0px;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  width: 30%;
  height: auto;
  margin-bottom: 20px;
}

header {
  flex: 0 0 auto; /* Do not shrink or grow */
}

main {
  flex: 1 0 auto; /* Grow to fill remaining space */
}

header button{
  border: 2px solid rgba(242, 155, 48);;
  background-color: rgba(242, 155, 48);;
  font-family: inherit;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
  font-size: 13px;
  height: 30px;
  width: 90%;
  margin: 5px 0px 10px 10px;
  color: rgba(245, 245, 245, 1);
}


nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  width: 100%;
}

nav ul li {
  width: 100%;
  text-align: left; /* Align text to the left */
  padding: 10px 20px; /* Add padding for better appearance */
  padding-left: 20px; /* Move the list items more to the left */
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

nav ul li:hover {
  border-radius: 10px;
  margin: 10px;
  width: 60%;
  color: rgba(245, 245, 245, 1);
  font-weight: 900;
  background-color: rgba(8, 9, 13, 1);
  transform: scale(1.05); /* Slightly enlarge on hover */
}


h1{
  font-size: 35px;
}